name: Android Build

on:
  push:
    branches: [ main ]
  workflow_dispatch:

jobs:
  build-apk:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      
      - name: Build APK
        uses: ArtemSBulgakov/buildozer-action@v1
        id: buildozer
        with:
          workdir: .
          buildozer_version: stable
          
      - name: Upload APK
        uses: actions/upload-artifact@v4
        with:
          name: qrscanner-apk
          path: ${{ steps.buildozer.outputs.filename }}
